{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
  <meta charset="utf-8">
  <title>System Data</title> 
 
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  
</head>

<body>
	<h1>Smart Farm</h1>
	<table border="1">
		<th colspan="3">Susu Hewani dan Telur</th>
		<tr>
			<th>Sensor Suhu</th>
			<th>Sensor Kelembapan</th>
			<th>Sensor pH</th>
		</tr>
		<tr>
			<td><span id="sensorsuhu"></span> &#176;C</td>
			<td><span id="sensorkelembapan"></span> %</td>
			<td><span id="sensorph"></span> pH</td>
		</tr>

		<th colspan="3">Daging Merah</th>
		<tr>
			<th>Sensor Oksigen</th>
			<th>Sensor Kadar Garam</th>
			<th>Sensor Kadar Lemak</th>
		</tr>
		<tr>
			<td><span id="sensoroksigen"></span> %</td>
			<td><span id="sensorkadrgaram"></span> %</td>
			<td><span id="sensorkadarlemak"></span> %</td>
		</tr>
		
		<th colspan="3">Daging Putih</th>
		<tr>
			<th>Sensor Kadar Sodium</th>
			<th>Sensor Kadar Protein</th>
			<th>Sensor Kadar Gula</th>
		</tr>
		<tr>
			<td><span id="sensorkadarsodium"></span> mg</td>
			<td><span id="sensorkadarprotein"></span> %</td>
			<td><span id="sensorkadargula"></span> %</td>
		</tr>
	</table>
<!-- ================================================================================================================ -->
	<h1>Smart Plantation</h1>
	<table border="1">
		<th colspan="3">Sumber Karbohidrat</th>
		<tr>
			<th>Sensor Kelembapan Tanah</th>
			<th>Sensor Intensi Cahaya</th>
			<th>Sensor Suhu Udara</th>
		</tr>
		<tr>
			<td><span id="kelembapantanah"></span> %</td>
			<td><span id="intensicahaya"></span> lux</td>
			<td><span id="suhuudara"></span> &#176;C</td>
		</tr>

		<th colspan="3">Sayuran</th>
		<tr>
			<th>Sensor Suhu Tanah</th>
			<th>Sensor Kelembapan Udara</th>
			<th>Sensor Kadar Co2</th>
		</tr>
		<tr>
			<td><span id="suhutanah"></span> &#176;C</td>
			<td><span id="sensorkelembapanudara"></span> %</td>
			<td><span id="sensorkadarco2"></span> ppm</td>
		</tr>
		
		<th colspan="3">Buah-buahan</th>
		<tr>
			<th>Kecepatan Angin</th>
			<th>Curah Hujan</th>
			<th>Kualitas Air</th>
		</tr>
		<tr>
			<td><span id="sensorkecepatanangin"></span> m/s</td>
			<td><span id="sensorcurahhujan"></span> mm</td>
			<td><span id="sensorkualitasair"></span> pH</td>
		</tr>
	</table>
<!-- ================================================================================================================ -->
	<h1>Smart Restaurant</h1>
	<table border="1">
		<th colspan="3">DeteKsi Musim</th>
		<tr>
			<th>Sensor Barometer</th>
			<th>Sensor Ketebalan Awan</th>
			<th>Sensor Radiasi Surya</th>
		</tr>
		<tr>
			<td><span id="barometer"></span> hPa</td>
			<td><span id="ketebalanawan"></span> okta</td>
			<td><span id="radiasisurya"></span>W/m^2</td>
		</tr>

		<th colspan="3">Deteksi Hasil Penjualan Berfluktuasi</th>
		<tr>
			<th>Sensor Cancel Order</th>
			<th>Sensor Penilaian</th>
			<th>Sensor Jumlah Pesanan</th>
		</tr>
		<tr>
			<td><span id="cancelorder"></span> order</td>
			<td><span id="penilaian"></span> ⭐</td>
			<td><span id="jumlahpesanan"></span> menu</td>
		</tr>
		
		<th colspan="3">Deteksi Jumlah Pengunjung Restoran</th>
		<tr>
			<th>Sensor Pendeteksi Gerakan</th>
			<th>Sensor Meja Kosong</th>
			<th>Sensor Kebisingan</th>
		</tr>
		<tr>
			<td><span id="pendeteksigerakan"></span> orang</td>
			<td><span id="mejakosong"></span> meja</td>
			<td><span id="kebisingan"></span> dB</td>
		</tr>
	</table>
</body>

<script>
  function updateSensorValue(endpoint, id) {
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data) {
          var value = document.getElementById(id);
          value.innerHTML = data.value;
      },
      error: function(error_data) {
          console.log(error_data);
      }
    })
  }

  function updateActuatorState(endpoint, id) {
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data) {
          var state = document.getElementById(id);
          state.innerHTML = data.state;
      },
      error: function(error_data) {
          console.log(error_data);
      }
    })
  }

  setInterval(function(){
// Smart Farm
    updateSensorValue('/susuhewanidantelur/sensorsuhu', 'sensorsuhu');
    updateSensorValue('/susuhewanidantelur/sensorkelembapan', 'sensorkelembapan');
    updateSensorValue('/susuhewanidantelur/sensorph', 'sensorph');
    // updateActuatorState('/actuator/heater', 'heater');

    updateSensorValue('/dagingmerah/sensoroksigen', 'sensoroksigen');
    updateSensorValue('/dagingmerah/sensorkadrgaram', 'sensorkadrgaram');
    updateSensorValue('/dagingmerah/sensorkadarlemak', 'sensorkadarlemak');
    // updateActuatorState('/actuator/fan', 'fan');

    updateSensorValue('/dagingputih/sensorkadarsodium', 'sensorkadarsodium');
    updateSensorValue('/dagingputih/sensorkadarprotein', 'sensorkadarprotein');
    updateSensorValue('/dagingputih/sensorkadargula', 'sensorkadargula');
    // updateActuatorState('/actuator/lighting', 'lighting');

// Smart Plantation
	updateSensorValue('/sensorkarbohidrat/kelembapantanah', 'kelembapantanah');
    updateSensorValue('/sensorkarbohidrat/intensicahaya', 'intensicahaya');
    updateSensorValue('/sensorkarbohidrat/suhuudara', 'suhuudara');
    // updateActuatorState('/actuator/heater', 'heater');

    updateSensorValue('/sayuran/suhutanah', 'suhutanah');
    updateSensorValue('/sayuran/sensorkelembapanudara', 'sensorkelembapanudara');
    updateSensorValue('/sayuran/sensorkadarco2', 'sensorkadarco2');
    // updateActuatorState('/actuator/fan', 'fan');

    updateSensorValue('/buah/sensorkecepatanangin', 'sensorkecepatanangin');
    updateSensorValue('/buah/sensorcurahhujan', 'sensorcurahhujan');
    updateSensorValue('/buah/sensorkualitasair', 'sensorkualitasair');
    // updateActuatorState('/actuator/lighting', 'lighting');

// Smart Restaurant
	updateSensorValue('/musim/barometer', 'barometer');
    updateSensorValue('/musim/ketebalanawan', 'ketebalanawan');
    updateSensorValue('/musim/radiasisurya', 'radiasisurya');
    // updateActuatorState('/actuator/heater', 'heater');

    updateSensorValue('/hasilpenjualanberfluktuasi/cancelorder', 'cancelorder');
    updateSensorValue('/hasilpenjualanberfluktuasi/penilaian', 'penilaian');
    updateSensorValue('/hasilpenjualanberfluktuasi/jumlahpesanan', 'jumlahpesanan');
    // updateActuatorState('/actuator/fan', 'fan');

    updateSensorValue('/jumlahpengunjungrestoran/pendeteksigerakan', 'pendeteksigerakan');
    updateSensorValue('/jumlahpengunjungrestoran/mejakosong', 'mejakosong');
    updateSensorValue('/jumlahpengunjungrestoran/kebisingan', 'kebisingan');
    // updateActuatorState('/actuator/lighting', 'lighting');
  }, 2000);

</script>
